var partIcone = document.querySelector(".event-participation")

<% link = link_to '<div id="part-icone"><i class="fas fa-calendar"></i></div>'.html_safe, participation_path(@participation), method: :delete, remote: true, id: "remove-part" %>

partIcone.innerHTML = "<%= j(link)%>"

document.getElementById("calendar-link").click()
