var partIcone = document.querySelector(".event-participation")

<% link = link_to '<div id="part-icone"><i class="far fa-calendar"></i></div>'.html_safe, event_participations_path(@event.id), method: :post, remote: true, id: "add-part" %>

partIcone.innerHTML = "<%= j(link)%>"
