#header-band{
  position: relative;
  margin-bottom: 10px;
  font-size: 2rem;
  h1 {
    margin: 16px 0;
    padding-top: 0;
  }
}

.band-favorite{
  z-index: 999;
  position: absolute;
  right: 12px;
  top: 0px;
  font-size: 30px;
}

.image-band{
  display: block;
  width: 100%;
}

.bandstyle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bandstyle {
  display: inline-block;
  margin: 16px 8px;
}

.youtube-video {
  width: 100%;
  display: flex;
  justify-content: center;
}

.band-show-program {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  align-items: center
}

#band-show-program-title {
  width: 400px;
  margin-left: 16px;
  h3 {
    color: $cream;
  }
}

.add-comment {
  margin: 8px 16px;
  i {
    color: $blue;
  }
}
