.bar-show-banner {
  position: relative;
  display: flex;
  background-color: #323333;
  color:#14ffec;
  font-family: 'Reckoner';
}

.backlink {
  z-index: 999;
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 20px;
  a {
    color: $green;
  }
}

.bar-favorite {
  z-index: 999;
  position: absolute;
  right: 12px;
  top: 70px;
  font-size: 30px;
  font-family: 'GothamBook';
}

.bar-show-programme {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  width: 100%;
}

.btn-gradient {
  margin: 10px;
  width: 80%;
}

.bar-show-photo {
  color: white;
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

.bar-show-description {
  color: white;
  text-align: center;
  margin-top: auto;
}

.participants-count {
  text-align: center;
}
