.event-show-title {
  position: sticky;
  top: 0;
  padding-top: 5px;
  letter-spacing: 3px;
  font-family: reckoner;
  font-weight: lighter;
  color: $blue;
  font-size: 2rem;
  background: black;
  height: 9rem;
  justify-content: center;
  text-align: center;
  z-index: 99;
    img {
      width: 60px;
      position: absolute;
      top: 60%;
      right: 82%;
  }
}


.infos-event {
  position: sticky;
  top: 144px;
  z-index: 99;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
  margin-top: 16px;
  padding: 10px;
  background: $blue;
  justify-content: center;
  text-align: center;
  color: black;
}

.event-participation {
  position: absolute;
  top: 50px;
  right: 24px;
}

.links-event{
  color: white;
  background-color: black;
  padding: 10px 30px;
  border-radius: 20px;
  border: 1px solid $blue;
  margin-left: 20px;
  &:hover{
    background-color: $blue;
    border: 1px solid black;
    color: white;
    text-decoration: none;

  }
}

.guitar {
  width: 30px;
}

.description-event{
text-align: center;
margin-bottom: 20px;
}

.event-button-container {
  color: aquamarine;
  z-index: 9999;
}

#add-participation, #event-location {
  margin: 0 auto;
}

.participants-count{
text-align: center;
margin-bottom: 20px;
color: $green;
}
