// Specific CSS for your home-page
/* LiveProg */



.title-search {
  position: absolute;
  width: 310px;
  height: 33px;
  left: 48px;
  top: 115px;
}

// .card-best-bar {

  .card-best-photo {
    width: 10rem;
    height: 6rem;
    background: #323232;
    border-radius: 10px 10px 10px 10px;
    position: relative;

    img {
      height: 6rem;
      width: 10rem;
      opacity: 0.8;
      filter: blur(0.1px) grayscale(70%) contrast(120%) drop-shadow(1px 1px 3px rgb(12, 0, 0));
      border-radius: 10px 10px 10px 10px;
      position: relative;
      text-align: center;
      color: $cream;
      text-shadow:rgba(0, 0, 0, 0.800)
    }
  // }

  .card-infos-best-bar {
    font-family: 'Libre Franklin';
    font-size: 2rem;
    justify-content: center;
  }


  .home-bar-card-picture {
  position: absolute;
  left: 0%;
  right: 51.26%;
  top: 0%;
  bottom: 0%;
  background: url(Bar_1.jpg);
  border-radius: 20px;
  }

  .home-bar-card-textplain {
    position: absolute;
    left: 50.27%;
    right: 3.24%;
    top: 38.46%;
    bottom: 9.23%;

    font-family: 'GothamBook';
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1rem;

    color: #F5FFFA;
  }
}

.home-band-card {
  position: absolute;
  width: 130px;
  height: 143px;
  left: 6px;
  top: 402px;
  border-radius: 15px;
  background: url(Shocking_papas.jpg);

  .home-band-card-textblock {
  position: absolute;
  left: 1.6%;
  right: 63.73%;
  top: 62.56%;
  bottom: 33%;

  background: #000000;
  border-radius: 10px;

    .home-band-card-textplain {
      position: absolute;
      left: 3.47%;
      right: 65.33%;
      top: 63.3%;
      bottom: 33%;

      font-family: 'GothamBook';
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      color: #F5FFFA;
    }
  }
}

.home-event-card {
  position: absolute;
  width: 130px;
  height: 127px;
  left: 6px;
  top: 619px;
  background: #323232;
  border-radius: 10px;

  .home-event-card-dateblock {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 6.25%;
    bottom: 75.57%;

    background: #14FFEC;

    .home-event-card-datetext {
      font-family: 'GothamBook';
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 13px;

      color: black;
    }
  }

  .home-event-card-picture {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 28.41%;

    background: black;
    border-radius: 5px;
  }

  .home-event-card-titletext {
    position: absolute;
    left: 13.85%;
    right: 4.77%;
    top: 76.38%;
    bottom: -19.56%;

    font-family: 'GothamBook';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #F5FFFA;
  }
}

.bar-title-home {
  background-color: #11ffee00;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem;
  border: none;
  color: $cream;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0 20px;
}

.band-title-home {
  margin-top: 2rem;
  background-color: #11ffee00;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem;
  border: none;
  color: $cream;
  letter-spacing: 3px;
  font-weight: bold;
  margin: 0 20px;
}

#events-near {
  background-color: #11ffee00;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.3rem;
  border: none;
  color: $cream;
  letter-spacing: 3px;
  font-weight: bold;
   a{
     color: $cream;
    }
}

// ::placeholder {
//   color: $cream;
//   font-weight: lighter;
// }
