          <div class="card">
            <% band.photos.each do |photo| %>
            <%= cl_image_tag photo.key, :width=>400, :height=>250, 'aria-expanded': false %>
            <% end %>
            <div class="card-infos">
              <div>
              <div class="card-band-name">
                <%= link_to band.name, band_path(band.id) %>
                </div>
                <% band.styles.each do |style| %>
                <div class="card-bandstyle">
                  <div class="btn btn-ghost-mini">
                    <%= style.style_type %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
