<div class="event-search-label">
  <div class="event-search-icone">
    <i class="fas fa-search"></i>
  </div>
  <h3>Rechercher</h3>
</div>

<div class="event-search-form-container">
  <%= simple_form_for :search, method: "get" do |f| %>
  <div class="event-date-input" id="search_start_date">
    <%= f.input :band, as: :string, placeholder: "Par Artiste", required: false, class: "band-search-input", label: false %>
  </div>
  <div class="event-style-input" id="search_style_type">
    <%= f.input :band_style, collection: Style::STYLES.sort, label: false, input_html: { multiple: true } %>
  </div>
  <div class="event-serch-button-container">
    <%= f.button :submit, value: "Rechercher", class: "btn btn-ghost", id: "event-search-button" %>
  </div>
  <% end %>
</div>
