<i class="fas fa-search"></i>
<div class="container">
  <div class="form-wrapper" style="width: 550px; margin: 0 auto;">
    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :start_date, as: :string, placeholder: "dates", required: false, input_html: {class: "datepicker"}, label: false %>
    <% end %>
  </div>
</div>
