<nav class="header">
	<div class="header__item <%= "header__item--active" if controller_name == "pages" && action_name == "home" %>">
    <a href="../">
		<div class="header__item-content">
			<img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1629902563/yznpbp3kj6ipqrojfyfd.png" class="navbar-logo">
			<%# <span>Accueil</span> %>
		</div>
    </a>
	</div>
	<div class="header__item <%= "header__item--active" if controller_name == "search" && action_name == "search" %>">
		<div class="header__item-content">
			<img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1629902667/nrzzhevfcqofigtu1akv.png" class="navbar-logo">
			<%# <span>Recherche</span> %>
		</div>
	</div>
	<div class="header__item <%= "header__item--active" if controller_name == "events" && action_name == "index" %>">
    <a href="../events">
		<div class="header__item-content">
      <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1629902689/xruqwo2ns5utxlkaj9fr.png" class="navbar-logo">
			<%# <span>Evenements</span> %>
		</div>
    </a>
	</div>

	<div class="header__item <%= "header__item--active" if controller_name == "registrations" && action_name == "edit" %>">
    <a href="../users/edit">
		<div class="header__item-content">
      <img src="http://res.cloudinary.com/dvocm8ddc/image/upload/v1629902700/wyryn2zwcvkkyfskrgao.png" class="navbar-logo">
        <%# <span>Profil</span> %>
      </div>
  </div>
  </a>
</div>
</nav>
