<div class="participation-popup-container">
  <div id="participation-popup" class="hidden">
  <div id="participation-popup-close">
    <i class="far fa-times-circle"></i>
  </div>
    <h1><%= @event.name %> ajouté à vos évenements!</h1>
  </div>
</div>
