<div class="participation-popup-cont">
  <div id="participation-popup" class="hidden">
  <div id="participation-popup-close">
    <i class="far fa-times-circle"></i>
  </div>
    <h2><%= @event.name %> ajouté à vos évenements!</h2>
  </div>
</div>
