<div class="carousel-container">
    <div class="carousel-wrapper">
      <div class="carousel">
        <div class="cards-event">
          <% bar.events.future.each do |event| %>
            <%= render 'shared/event_card', event: event %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
