<div class="gradient-text">
  <div class="gradient-text-content">
    LIVEPROG
  </div>
</div>

<form action="bars" method="get">
  <div class="bar-search">
      <div class="bar-search-element">
        <i class="fas fa-search"></i>
          <input class="bar-search-input" list="suggestions" placeholder="Chercher un bar" autocomplete="on">
      </div>
  </div>
</form>

<%= render "shared/fav_bar_home" %>

<form action="band" method="get">
  <div class="band-search">
      <div class="band-search-element">
        <i class="fas fa-search"></i>
          <input class="band-search-input" list="suggestions" placeholder="Découvrez des groupes" autocomplete="on">
      </div>
  </div>
</form>

<h4 id="best-bar-title" >A découvrir</h4>
<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards">
        <% @bands.each do |band| %>
        <%= render 'shared/band_card', band: band %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<button id="events-near"><i class="fas fa-map-marker-alt"></i> A proximité</button>

<h4 id="best-bar-title" >Prochains évenements</h4>
<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel">
      <div class="cards-event">
      <% @events.future.sorted_by_date.each do |event| %>
       <%= render 'shared/event_card', event: event %>
       <% end %>
      </div>
    </div>
  </div>
</div>
