<div class="backlink">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>
<div class="container">
  <div id="band-index-title"><h1>découvrez des artistes</h1></div>

  <%= render 'shared/band_searchbar'%>

<% if @bands.count < 1 %>
  <h2 style="text-align: center;">Pas de résultat pour cette recherche</h2>
<% end %>

</div>
  <div class="card-band-container">
          <% @bands.each do |band| %>
          <%= render 'shared/band_index_card', band: band %>
          <% end %>
  </div>
