<div class="backlink">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
</div>

  <div id="band-index-title"><h1>DECOUVREZ DES ARTISTES</h1></div>
<div class="container">

  <%= render 'shared/band_searchbar'%>

  <div class="card-band-container">
          <% @bands.each do |band| %>
          <%= render 'shared/band_index_card', band: band %>
          <% end %>
  </div>
</div>
