<h1>Bands#show</h1>
<p>Find me in app/views/bands/show.html.erb</p>

<%= @band.name %>
<%= @band.style %>
<br>
<% if current_user == @band.owner %>
<%= link_to "Créer un évènement", new_band_event_path(@band), class: "btn btn-primary" %>
<% end %>
