.band-review-rating-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0px 16px;
}

.fa-star {
  color:  #14FFEC 16.666%,;
}

.review-rating {
  cursor:    pointer;
  font-size: 2rem;
}

.band-likes {
  transform: translateX(-12px);
  i {
    color: red;
  }
}

.band-comment-content i {
  color: rgb(172, 172, 172);
}
