.btn-ghost {
  color: $cream;
  border: 1px solid #202120;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: $green;
}

.btn-gradient {
  color: #fffefe;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #323333;
  border: 1px solid #14ffec;
}

.bar-show-banner {
  position: relative;
  display: flex;
  background-color: #323333;
  color:#14ffec;
  font-family: 'Reckoner';
}

.backlink {
  position: absolute;
  left: 8px;
  top: 8px;
  font-size: 20px;
  a {
    color: $green;
  }
}

.bar-favorite {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-family: 'GothamBook';
}

.bar-show-programme {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  align-items: center
}

.btn-gradient {
  margin: 10px;
  width: 80%;
}

.bar-show-photo {
  color: white;
  justify-content: center;
  display: flex;
  margin-bottom: 8px;
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}

.bar-show-description {
  color: white;
  text-align: center;
  margin-top: auto;
}

.participants-count {
  text-align: center;
}
