.cards-best-bar-container{
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  height: auto;
  align-items: stretch;
  position: relative;
  grid-auto-rows: minmax(100px, auto);

  .bar-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cream;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: $jet;
  }
}

.card-best-bar {
  height: 40px;
}

.card-best-photo img {
  height: 40px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}


.card-infos-best-bar-content {
  text-align: center;
  align-items: center;
  a {
    color: $cream;
    font-size: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

.best_bar_event-count {
  font-size: 12px;
  position: absolute;
  top: -8px;
  right: 0;
  padding: 3px 10px 4px 10px;
  border-radius: 50%;
  border: 1px solid $jet;
  color: $blue;
  background-color: $anthrax;
}

@media (max-width: 700px) {
.cards-best-bar-container{
  grid-template-columns: 1fr 1fr;
  }
}

#best-bar-title {
  margin-left: 8px;
  font-size: 20px;
  color: $green;
}
