/* --------------------------------CARDS---------------------------------------------- */

.cards_band_home {
  display: grid;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;

  a {
    color: $cream;
    font-size: 1.3rem;
    letter-spacing: 3px;
    padding: 0.4rem;
    text-shadow:black 1px 0 10px;
  }

  .card_band_home a {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}


.card_band_home {
  position: relative;
  border: 1px solid $jet;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 3px #0c0000);
  width: 10rem;
  height: 15rem;
  transition: 0.2s;
  margin: 0px 20px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.336);
}

.card_band_home {
  overflow: hidden;
  background: $jet;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card_band_home > img {
  height: 200px;
  width: 100%;
  width: 12rem;
  opacity: 0.8;
  filter: blur(0.1px) grayscale(90%) contrast(150%) drop-shadow(1px 1px 3px rgb(12, 0, 0));
  border-radius: 10px 0px 0px 0px;
  position: relative;
  text-align: center;
  color: $cream;
  object-fit: cover;

}

.card_band_home p {
  font-size: 15px;
  margin: 0;
  color: $cream;
}


.card_band_home .card-infos_band_home {
  padding: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.card-infos_band_home .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-bandstyle {
  position: relative;
  display: inline-block;
  align-self: center;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
  border-radius: 50px;
}

// .card-band-name {
//   margin-bottom: 8px;
//   a {
//     font-size: 24px;
//   }
// }
