.card-band-container {
  display: flex;
  flex-wrap: wrap;
}

.card-band {
  color:#F5FFFA;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;
  border-radius: 20px;
  margin:20px;
  border: solid $blue 1px;
  }

.card-band-img {
  border-radius: 20px 20px 0px 0px;
  border-bottom: solid $blue 1px;
  height: 300px;
  background-size: cover;
}
