.event-title {
  background: black;
  height: 10rem;
  justify-content: center;
  text-align: center;
}

.infos-event {
  height: 44px;
  margin-top: 16px;
  padding: 16px;
  background: $blue;
  justify-content: center;
  text-align: center;
} 