#search_date, .flatpickr-input, #search_band_style {
  background-color: $jet !important;
  border: $jet;
  width: 160px;
  color: rgb(130, 130, 130) !important;
  font-size: 16px;
}

#search_style_type {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $jet;
  border: $jet;
  width: 170px;
  color: rgb(130, 130, 130);
  font-size: 16px;
  height: 38px;
}

.event-search-form-container {
  position: relative;
  transform: translateY(12px);
  margin-bottom: 32px;
}

.event-search-label {
  margin-top: 16px;
  transform: translateY(8px);
  padding-left: 16px;
  display: flex;
  h3 {
    margin: 0;
  }
}

.event-search-icone {
  position: relative;
  margin-right: 8px;
  i {
    position: relative;
    top: 4px;
  }
}

.flatpickr-month, .flatpickr-day, .flatpickr-monthDropdown-months, .flatpickr-calendar, .flatpickr-weekday {
  background-color: $jet !important;
}

.selected {
  color: $blue !important;
}

#event-search-button {
  // position: absolute;
}

.event-serch-button-container {
  position: relative;
  margin-top: 42px;
  display: flex;
  justify-content: center;
}

.inRange {
  color: $blue !important;
  box-shadow: none !important;
  border-color: $blue !important;
}
