.cards-best-bar-container{
  width: 100%;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  height: 15rem;
  align-items: stretch;
  position: relative;

  .bar-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cream;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: $jet;
  }
}

.card-best-bar {
  width: auto;
  height: 40px;
}

.card-best-photo img {
  height: 40px;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}

.card-infos-best-bar {
  width: 100%;
  background-color: $jet;
  text-align: center;
  border-radius: 0 20px 20px 0;
  padding-top: 5px;
}

.card-infos-best-bar-content {
  text-align: center;
  align-items: center;
  a {
    color: $cream;
    font-size: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

.best_bar_event-count {
  font-size: 12px;
  position: absolute;
  top: 4px;
  right: 8px;
  padding: 3px 10px 4px 10px;
  border-radius: 50%;
  border: 1px solid $jet;
  color: $blue;
  background-color: $anthrax;
}
