.header {
  grid-area: header;
	will-change: transform;
	transform: translateZ(0);
	display:flex;
  color: $cream;
	box-shadow: 0 -2px 5px -2px #333;
	background-color: #202020	;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 4px;

	&__item{
		flex-grow: 1;
		text-align: center;
		font-size: 0.8rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__item--active{
		border-bottom: 3px solid $blue;
	}
	&__item-content{
    margin-top: 4px;
		display: flex;
    align-items: center;
		flex-direction: column;
    text-align: center;
	}

  .navbar-logo {
    width: 30px;
    margin-bottom: 8px;
  }

  span{
    font-size: 12px;
    text-decoration: none;
    color: $cream;
    padding-bottom: 4px;
  }
  .dropdown-menu{
    background-color: $anthrax;

  }
  .dropdown-item{
       color: $cream;
  }
}
