// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main"
  "header";
  color: $cream;
  height: 100vh;
  background-color: $anthrax;
  width: 100%;
}

main {
  overflow-y: auto;
  grid-area: main;
  width: 100%;
}
