var add = document.querySelector("#add-fav")

add.outerHTML = "<%= j(link_to bar_fav_path(@bar_fav),
                        method: :delete,
                        remote: true,
                        id: "remove-fav" do) %>
                        "


          <%# <%= link_to bar_fav_path(@bar_fav), %>
            <%# method: :delete, %>
            <%# remote: true, %>
            <%# id: "remove-fav" do %> %>
            <%# <div id="fav-icone"><i class="fas fa-star"></i></div> %>
            <%# <% end %> %>
